nav.nav {
	width: 958px;
	height: 98px;
	background: url('../images/nav_background.png') no-repeat;
	display: block;
	margin: auto;
	margin-top: 30px;
	position: relative;
	z-index: 1;
    .languages {
        position: absolute;
        top: -30px;
        right: 10px;
        background-color: #332d31;
        padding: 5px 10px 5px 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        a {
            width: auto;
            display: inline-block !important;
        }
        .flag {
            width: 22px;
            height: 15px;
            display: inline-block;
            &:nth-child(n+2){
                margin-left: 5px;
            }
        }
        .fr {
            background: url('../images/flag/fr.png') no-repeat;
        }
        .en {
            background: url('../images/flag/en.png') no-repeat;
        }
    }
	.menu > li {
		display: inline-block;
		line-height: 98px;
		&:nth-child(1){
			position: absolute;
			left: 40px;
		}
		&:nth-child(2){
			position: absolute;
			right: 690px;
			.sub_menu {
				left: -50px !important;
			}
		}
		&:nth-child(3){
			position: absolute;
			right: 560px;
		}
		&:nth-child(4){
			position: absolute;
			right: 440px;
		}
		&:nth-child(5){
			position: absolute;
			right: 320px;
		}
		&:nth-child(6){
			position: absolute;
			right: 195px;
		}
		&:nth-child(7){
			position: absolute;
			right: 40px;
		}
	}
	.sub_menu {
		width: 230px;
		display: none;
		position: absolute;
		left: -80px;
		top: 89px;
		background-color: rgba(0,0,0,0.8);
		padding-left: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		li {
			height: 60px;
			line-height: 60px;
			display: block;
			text-align: center;
			border-bottom: 1px solid white;
			&:last-child {
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		&:hover {
			display: block;
		}
		a {
			display: block;
			font-size: 13px;
		}
	}
	a {
		width: 100%;
		height: 100%;
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		font-family: 'Montserrat Light', arial;
		text-transform: uppercase;
		color: white;
		&:hover {
			+ .sub_menu {
				display: block;
			}
		}
	}
}
/*
 * LOGO
 */
.logo {
	display: block;
	margin: auto;
	position: relative;
	top: -50px;
	z-index: 0;
}
